body,
html {
  margin: 0px;
  padding: 0px;
  background-color: #D4D4D4;
}

#wraper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 750px;
  height: 200px;
}

#holder {
  border: 1px solid #cccccc;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  width: 748px;
  height: 198px;
  display: block;
}

#canvas {
  display: block;
  background-color: #ffffff;
  cursor: pointer;
  width: 750px;
  height: 200px;
  background-image: linear-gradient(#105fa2, #43c1f1 75%, #43c1f1 80%, #1aa2de 90%);
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 750px;
  height: 200px;
}

.legal__container {
  border-top: 1px solid #cccccc;
  overflow: hidden;
  position: absolute;
  width: 750px;
  height: 20px;
  bottom: 0px;
  background-color: #ffffff;
}

.legal__wrapper {
  color: #4d4d4f;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  font-family: Arial;
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  white-space: nowrap;
  text-align: center;
  -webkit-animation: legatScrollAnimation 90s linear infinite;
  animation: legatScrollAnimation 90s linear infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes legatScrollAnimation {
  0% {
    -webkit-transform: translate(0%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
  }
}

@keyframes legatScrollAnimation {
  0% {
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
